<ng-template #dialogForm let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            Create Category
            <a class="float-right" (click)="ref.close()">
                <nb-icon icon="close-outline"></nb-icon>
            </a>
        </nb-card-header>
        <nb-card-body>
            <input type="text" nbInput fullWidth placeholder="Name">
            <br>
            <br>

            <input type="text" nbInput fullWidth placeholder="Montly Budget">
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary">Save</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<nb-card>
    <nb-card-header>
        <span>Categories</span>
        <a class="float-right" (click)="open(dialogForm)">
            <nb-icon icon="plus-circle-outline"></nb-icon>
        </a>
    </nb-card-header>
    <div class="row nb-list-item" *ngFor="let user of users">
        <div class="col-xs-6">
            {{ user.name }}
        </div>
        <div class="col-xs-6">
            {{ user.name }}

            <div class="float-right">
                <nb-icon icon="trash-2-outline"></nb-icon>
                <nb-icon icon="edit-2-outline"></nb-icon>
            </div>
        </div>
    </div>
</nb-card>